<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head'); %>
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <p>Olá, seu zé!</p>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    
    <!--!Importação do Script do Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>